/* Animated Playing Indicator */

.playingIndicator {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2px;
    height: 14px;
}

.bar {
    width: 3px;
    background-color: var(--color-spotify-green);
    border-radius: 3px;
    animation: playingAnimation 1s ease-in-out infinite;
}

.bar:nth-child(1) {
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes playingAnimation {

    0%,
    100% {
        height: 4px;
    }

    50% {
        height: 14px;
    }
}