.scrollingTextContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    /* Masquer le débordement proprement */
    /* Masquer le débordement proprement */
    /* mask-image removed as it caused unwanted shadows */
}

.scrollingTextContent {
    display: inline-block;
    white-space: nowrap;
    /* La propriété transform sera gérée par le composant React */
    will-change: transform;
    /* Optimisation GPU */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}