* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  background-color: rgb(111, 192, 131);
}

button {
  padding: 8px 16px;
  cursor: pointer;
}